extends ../layout

block content
  a(href="/books/new") Add Book
  h1= title
  p Welcome to #{title}

  ul(class='bookList')
      each book in bookList
        li(class='book')
          div(class='author') Author: #{book.book_author}
          div(class='title') Title: #{book.book_title}
          form(method="DELETE" action="/books")
            button(type="submit") Delete
          br