extends ../layout

block content
  script(type="text/javascript" src='/javascripts/bookApi.js')

  h1.title #{title}

  form(id="book-search-form" name="new_book" action='/books/add' method='POST')
    .input-group.mb-3
      input(type="search" class="form-control" id="book-search-query" placeholder="Find your next story..." aria-label="Search" aria-describedby="search-addon")
      .input-group-append
        button.btn(type="submit" id="book-search-submit" class="book-search-submit") Search

  div(id='book-list-results')

