extends ../layout

block content
  h1= title
  script(type="text/javascript" src='/javascripts/bookApi.js')
  p Welcome to #{title}
  form(id="book-search-form" name="new_book" action='/books/add' method='POST')
    div.label
    div.title
      input(class="search-bar" id="book-search-query" name="book-search" type="text" placeholder="Search for a book...")
      input(type ="submit" id="book-search-submit" class="book-search-submit")
    