extends ../layout

block content
  h1= title
  p #{title}
  form(action="/session/new", method="POST")
      div.label 
      div.email
        input(type="email", name ='email', placeholder="email")
      div.password
        input(type="password", name='password', placeholder="password")
      button(type="submit" input="Submit") Log In
      p
        | Don't have an account? 
        break 
        a(href="/users/new") Sign Up Here
