extends loggedInLayout
block content
  if (message.length > 0)
    #alert
      p= message
      
  div.jumbotron
    img(src='/images/bookhero.png' alt='Banner with logo and books' style='max-width: 100%;')
    