extends layout
block content
  h1= title
  p Welcome to #{title}
  br
  p Modern life can be hectic. We’re pulled in lots of different directions at once, and even our leisure time can feel burdensome - with so many different forms of entertainment available to us. 
  p Chronicle helps us track what we love, and helps us plan our leisure time a little better: 
  p * Track what books and movies you’d like to read or watch 
  p * Mark your progress as you find the time to enjoy them
  p * Record your thoughts on them once you’re done, for your later reference
  a(href="/users/new") Sign Up
  br
  a(href="/session/new") Log In
  
