doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous")
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(rel="icon" href="/images/favicon.png")
    title Chronicle
  body
    header.header
      nav.navbar.navbar-expand-md
        a.navbar-brand(href="/")
          img(src='/images/Chronicle_navbar_logo.png' alt='Chronicle' style='height:50px;')
        ul.navbar-nav.mr-auto
          li.navbar-item.d-flex.justify-content-center.align-items-center
            a.nav-link.btn(href="/books") Books
          li.navbar-item.d-flex.justify-content-center.align-items-center
            a.nav-link.btn(href="/films") Films
          li.navbar-item.d-flex.justify-content-center.align-items-center
            a.nav-link.btn(href="/games") Games
        ul.navbar-nav
          li.navbar-item.d-flex.justify-content-center.align-items-center
            a.nav-link.btn(href="/users/new") Sign Up
          li.navbar-item.d-flex.justify-content-center.align-items-center
            a.nav-link.btn(href="/session/new") Log In
  block content