body {
  padding-left: 50px;
  padding-right: 50px;
}

.navbar_button {
  border: 1px solid #C79658;
  border-radius: 8px;
  background-color: #363A50;
  margin: 5px;
}

.navbar_button_text {
  color: #FFFFFF;
  font-family: "American Typewriter";
  font-size: small;
}