body {
  padding-left: 1vw;
  padding-right: 1vw;
  font-family: "American Typewriter";
}

.btn {
  border: 1px solid #C79658;
  border-radius: 8px;
  background-color: #363A50;
  color: #FFFFFF;
  font-size: small;
}

.fullnav {
  display: none;
}

.navbar .btn {
  margin: 5px;
  padding: 10px
}

.search_bar_text {
  color: #363A50;
}

.search_bar_button {
  border: 1px solid #C79658;
  border-radius: 8px;
  background-color: #363A50;
  color: #FFFFFF;
  font-size: small;
}

.jumbotron {
  padding: 0px;
}

.footer {
  display: none;
  position: fixed;
  bottom: 0;
  width: 80vw;
  height: 40px;
  line-height: 40px;
  background-color: #363A50;
  color: #FFFFFF;
  font-size: small;
}

.footer a {
  padding-inline: 5vh;
  color: #FFFFFF;
  font-size:smaller;
}

.registration-wrapper {
  padding: 5vw;
  margin: 1vh;
  border: 2px solid #AC8352;
  border-radius: 8px;
  background-color: #272A3A;
}

.registration-wrapper h1 {
  color: #AC8352;
}

.registration-wrapper .form-control {
  margin: 10px;
}

.registration-wrapper p {
  color: #FFFFFF;
  font-size: small;
}

.registration-wrapper a {
  color: #FFFFFF;
  font-size: small;
}

.card {
  padding: 5vw;
  margin-bottom: 10px;
  border: 2px solid #AC8352;
  border-radius: 8px;
  background-color: #272A3A;
  color:#FFFFFF;
}

.container-fluid {
  margin-bottom: 50px;
}

.booklist-wrapper h1 {
  color: #AC8352;
}

.setting_name {
  padding-right: 10px;
  padding-bottom: 10px;
  line-height: 30px;
}

.book_setting {
  color: #AC8352;
}

.img-wrapper {
  padding-right: 10px
}

@media only screen and (min-width: 900px) {
  body {
    padding-left: 10vw;
    padding-right: 10vw;
    font-family: "American Typewriter";
  }

  .registration-wrapper {
    padding: 5vw;
    margin: 20vw;
    border: 2px solid #AC8352;
    border-radius: 8px;
    background-color: #272A3A;
  }
  
  .fullnav {
    display: flex;
  }

  .dropnav {
    display: none;
  }

  .footer {
    display: flex;
  }
}

@media only screen and (max-width: 576px) {
  .navbar .btn {
    margin: 5px;
    padding: 5px
  }
}