extends ../layout

block content
  script(type="text/javascript" src='/javascripts/movieApi.js')

  form(id="movie-search-form" name="new_book" action='/movie/add' method='POST')
    .input-group.mb-3
      input(type="search" class="form-control" id="movie-search-query" placeholder="Find your next journey..." aria-label="Search" aria-describedby="search-addon")
      .input-group-append
        button.btn(type="submit" id="movie-search-submit" class="movie-search-submit") Search

  div(id='movie-list-results')
