extends ../layout

block content
  h1= title
  p Welcome to #{title}
  form(name="new_movie" action='/movies/add' method='POST')
    div.label
    div.title
      input(name="title" type="text" placeholder="Title")
    div.author
      input(name="director" type="text" placeholder="Director")
    button(id="add_movie" type="submit" value="Submit") Add Movie