extends ../layout

block content

  .alert.alert-danger Warning delete is instantaneous and cannot be undone!

  form(name="delete_profile" action='/users/delete' method='POST')
    input(type="hidden" name="_method" value="DELETE")
    button.btn(id="delete_user" type="submit" value="Delete") Delete Profile